# Python caches
.venv/
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# Git and IDEs
.git/
.idea/

# 🚨 CRITICAL: Ignore Datasets
dataset_mouths/
dataset_new/
full_face_dataset/
yawning/
data/
ML_PBL/

# Ignore Training Scripts & Test Files
check.py
full_face.py
fullfacetest.py
head_pose.py
main.py
mobilenet_v2.py
mobilenet_v3.py
test.py
test_yawn.jpg
train_yawn.py
export_onnx.py

# Ignore Extra Models (We ONLY need mobilenet_v3_best.pth and yawn_model_2.pth)
best_model.pth
eye_model.pth
full_face_model.pth
mobilenet_v3_2.pth
yawn_model.pth
eye_model.onnx
yawn_model.onnx

# Ignore Graphs
confusion_matrix_final.png
confusion_matrix_yawn.png
metrics_mobilenet.png
training_graphs_yawn.png
training_metrics.png
training_plot.png